.cart-section {
    background-color: #f7f7f7;
    padding: 60px 0;
}

.cart-table {
    background-color: #fff;
    margin-bottom: 50px;
}

.cart-table td {
    vertical-align: middle;
}

.update-cart-row {
    padding: 20px 40px!important;
}

.btn-cart-style {
    color: #100F0F;
    border: 1px solid #707070;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 15px;
    padding: 10px 21px;
    background-color: #fff;
    text-align: center;
}

.btn-cart-style:hover {
    color: #100F0F;
    text-decoration: none;
}

.coupon-title {
    position: relative;
    color: #100F0F;
    font-weight: 500;
}

.coupon-title:after {
    position: absolute;
    content: '';
    width: 77%;
    height: 2px;
    background-color: #707070;
    right: 0;
    top: 4px;
}

.coupon-description {
    color: #707070;
    font-size: 1.125rem;
}

.coupon-input {
    padding: 12px;
    background: unset;
    border: 1px solid #707070;
}

.coupon-input:-moz-placeholder {
    color: #707070;
}

.total-price-wrapper {
    background-color: #fff;
    padding: 20px 40px;
    color: #100F0F;
}

.cart-total-title {
    font-size: 1.25rem;
    position: relative;
}

.cart-total-title:after {
    position: absolute;
    content: '';
    width: 77%;
    height: 2px;
    background-color: rgba(80, 70, 70, 0.2);
    right: 0;
    top: 0;
}

.cart-total-inner {
    border-bottom: 2px solid rgba(80, 70, 70, 0.2);
}