#banner-section img {
    width: 100%;
    height: 300px;
}

.blog-description {
    color: #fff;
    top: 116px;
    left: calc(50% - 129px);
    font-family: Garamond, sans-serif;
}

.blog-description p {
    margin-bottom: 10px;
    line-height: 1.2em;
    font-family: "Segoe UI", sans-serif;
}

.blog-title {
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.blog-title-pink {
    color: #EE9ED1;
}

.blog-title-red {
    color: #C91F1F;
}

@media (min-width: 768px) {
    .blog-title {
        font-size: 1.5rem;
    }

    .blog-description {
        font-size: 1.125rem;
        top: calc(50% - 87px);
    }
}

@media (min-width: 1200px) {
    #banner-section img {
        width: 100%;
        height: auto;
    }

    .blog-description {
        top: 36%;
        left: calc(50% - 265px);
        font-size: 2rem;
    }

    .blog-title {
        font-size: 3rem;
    }
}