#home-product-section {
    padding: 30px 0;
}

.product-title {
    font-family: Pristina, sans-serif;
    color: #055728;
    font-size: 2rem;
}

.new-arrival-title {
    text-transform: uppercase;
    font-family: AdobeMingStd, sans-serif;
    font-size: 1.5rem;
    margin-bottom: 12px;
    color: #363131;
}

.new-arrival-title img {
    width: 50px;
    height: auto;
}

.product-tab-wrapper {
    margin-bottom: 20px;
}

.product-tab {
    padding: 5px 20px;
    color: #101310;
    border-right: 1px solid #707070;
}

.product-tab:last-child {
    border: none;
}

.product-tab.active {
    color: #EF083F;
}

.product-wrapper img {
    width: 100%;
    height: auto;
}

.product-wrapper {
    font-family: AdobeMingStd, sans-serif;
    margin-bottom: 20px;
    font-size: 0.875rem;
}

.product-wrapper h3 {
    color: #000000;
    font-size: 1rem;
}

.product-saleoff {
    position: relative;
}

.product-saleoff:after {
    position: absolute;
    content: '';
    width: 70px;
    height: 70px;
    top: 3px;
    right: 3px;
    background: url(../images/home/saleoff.png) no-repeat;
    background-size: cover;
}

.price-root {
    margin-left: 10px;
    text-decoration: line-through;
}

@media (min-width: 1200px) {
    .product-title {
        font-size: 2.5rem;
    }

    .new-arrival-title {
        font-size: 2.5rem;
    }

    .new-arrival-title img {
        width: 65px;
    }

    .product-tab {
        font-size: 1.25rem;
    }

    .product-wrapper {
        font-size: 1rem;
    }

    .product-wrapper h3 {
        font-size: 1.75rem;
    }

    #home-product-section .row {
        margin-bottom: 20px;
    }

    .product-saleoff:after {
        width: 140px;
        height: 140px;
        top: 5px;
        right: 5px;
    }
}