.blog-description {
    color: #fff;
    top: 36%;
    left: calc(50% - 265px);
    font-size: 2rem;
    font-family: Garamond, sans-serif;
}

.blog-description p {
    margin-bottom: 10px;
    line-height: 1.2em;
    font-family: "Segoe UI", sans-serif;
}

.blog-title {
    font-size: 3rem;
    margin-bottom: 20px;
}

.blog-title-pink {
    color: #EE9ED1;
}

.blog-title-red {
    color: #C91F1F;
}