#overview-section {
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}

.overview-item {
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
}

.gift-item:after {
    position: absolute;
    content: "";
    width: 2px;
    height: 70px;
    background-color: #707070;
    top: calc(50% - 35px);;
    right: 0;
}

.overview-icon {
    margin-right: 20px;
    padding-left: 20px;
    align-self: center;
}

.overview-description {
    font-weight: bold;
    color: #0A0A0C;
}

.overview-discount {
    color: #0B0BF9;
}