
{% extends "users/base.html" %}
{% block content %}
<div class="content-section">
    <table class="table table-light" id="laptops" style="width:100%;">
        <thead>
            <tr class="list-header">
                <th scope="col"></th>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Total</th>
                <th scope="col">Quantity</th>
                <th scope="col">Remove from cart</th>
            </tr>
        </thead>
        <tbody>
          {% if selected_items %}
            {% for item in selected_items %}
            <tr>
              <td><input type="checkbox" name="check[]" id="cb{{val}}" value="{{ val }}"></td>
              <td>{{ forloop.counter }}</td>
              <td>{{ item.item.title }}</td>
              <td>{{ item.get_total_item_price }}</td>
              <td>{{ item.quantity }}</td>
              <!-- <p>item_selected.item.pk}}</p> -->
              <td><a href="{% url 'remove-item-from-cart' item.item.pk %}" class="btn btn-danger">Remove</a></td>
            </tr>
            {% endfor %}
          {% else %}
          <td colspan="5">There is no item in your cart.</td>
          {% endif %}
        </tbody>
      </table>
      <!-- This not works yet -->
      <span>Total <strong style="color: red;">{{ total_cost }}</strong></span>
</div>
<a class="btn btn-primary" href="{% url 'checkout' %}">Checkout</a>
{% endblock %}