
{% extends "users/base.html" %}
{% block content %}
<div class="content-section">
    <table class="table table-light" id="laptops" style="width:100%;">
        <thead>
            <tr class="list-header">
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Remove from cart</th>
            </tr>
        </thead>
        <tbody>
          {% if orders %}
            {% for item_selected in orders.items_ordered.all %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ item_selected.item.title }}</td>
              <td>{{ item_selected.get_total_item_price }}</td>
              <td>{{ item_selected.quantity }}</td>
              <!-- <p>item_selected.item.pk}}</p> -->
              <td><a href="{% url 'remove-item-from-cart' item_selected.item.pk %}" class="btn btn-danger">Remove</a></td>
            </tr>
            {% endfor %}
          {% else %}
          <td colspan="5">There is no item in your cart.</td>
          {% endif %}
        </tbody>
      </table>
      <span>Total <strong>{{ orders.get_total_order_price }}</strong></span>
</div>
{% endblock %}