
{% extends "users/base.html" %}
{% block content %}
    <h3>Review Your Order</h3>
    
    {% for item in checkout_items %}
    <div class="row">
        <div class="col">
            <p>{{ forloop.counter }}</p>
        </div>
        <div class="col">
            <img src="{{ item.item.image.first.image.url }}" alt="preview">
        </div>
        <div class="col">
            <p>{{ item.item.title }}</p>
        </div>
        <div class="col">
            <p>{{ item.get_final_price }}</p>
        </div>
    </div>
    {% endfor %}
    <span>Total <strong style="color: red;">{{ total_cost }}</strong></span>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Information Receiver</legend>
            {{checkout_form}}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-info" type="submit">Order</button>
        </div>
    </form>
    
{% endblock %}