{% extends "users/base.html"%}
{% block content %}
<h1>Orders Detail</h1>
{% if orders %}
<div class="container">
  {% for order in orders %}
  <div class="row">
    <div class="col">
      ID: {{ order.pk }}
    </div>
    <div class="col">
      {% for item in order.get_cart_items %}
      <div class="row">
        <div class="col">
          <!-- Get the first image only. -->
          <img src="{{ item.item.image.first.image.url }}" alt="preview">
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="col">
      <p>{{ order.get_total_order_price }}</p>
    </div>
    <div class="col">
      <p>{{ order.order_status }}p>
    </div>
  </div>


  <br>

  {% endfor %}
</div>
{% else %}
<p>You don't have any order yet.</p>
{% endif %}


{% endblock %}