{% extends "users/base.html"%}
{% block content %}
<h1>Orders Detail</h1>
{% if orders %}
<div class="container">
  {% for order in orders %}
  <div class="row">
    <div class="col">
      ID: {{ order.pk }}
    </div>
    <div class="col">
      {% for item in order.get_cart_items %}
      <div class="row">
        <div class="col">
          <!-- Get the first image only. -->
          <img src="{{ item.item.image.first.image.url }}" alt="preview">
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="col">
      <p>{{ order.get_total_order_price }}</p>
    </div>
    <div class="col">
      {% if order.order_status == 'P' %}
        <p>Processing<p>
      {% elif order.order_status == 'RC' %}
        <p>Requesting Cancel<p>
      {% elif order.order_status == 'S' %}
        <p>Shipping<p>
      {% elif order.order_status == 'C' %}
        <p>Completed<p>    
      {% endif %}
    </div>
    <div class="col">
      <a href="{{ order.get_cancel_order_url }}">Request cancel order</a> 
    </div>
  </div>


  <br>

  {% endfor %}
</div>
{% else %}
<p>You don't have any order yet.</p>
{% endif %}


{% endblock %}