{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/account_order.css' %}">
{% endblock %}
{% block landscape-class %}
<div class="container-fluid title d-flex align-items-center pay-landscape">
{% endblock %}
{% block box-class %}
    <div class="box wrap w-100 align-items-center pay-box">
{% endblock %}
{% block title-banner %}Personal Information{% endblock %}
{% block customizeCheckout %}
    <span class="title-banner customize-title" style="text-shadow: 2px 2px 2px black;">Password Reset</span>
{% endblock %}
{% block content %}
<div class="container content-section mt-3">
    <form method="POST">
        <!-- Add csrf token for more security, this is supported by Django -->
        {% csrf_token %}
        <fieldset>
            <legend class="boder-botto mb-4">Reset Password</legend>
            {{ form.as_p }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
        </div>
    </form>
    
</div>
{% endblock %}