{% extends "users/base.html"%}
{% block content %}
<div class="content-section">
    <form method="POST">
        <!-- Add csrf token for more security, this is supported by Django -->
        {% csrf_token %}
        <fieldset>
            <legend class="boder-botto mb-4">Reset Password</legend>
            {{ form }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
        </div>
    </form>
    
</div>
{% endblock %}