{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/account_order.css' %}">
{% endblock %}
{% block landscape-class %}
<div class="container-fluid title d-flex align-items-center pay-landscape">
{% endblock %}
{% block box-class %}
    <div class="box wrap w-100 align-items-center pay-box">
{% endblock %}
{% block title-banner %}Personal Information{% endblock %}
{% block customizeCheckout %}
    <span class="title-banner customize-title" style="text-shadow: 2px 2px 2px black;">Password Reset</span>
{% endblock %}
{% block content %}
<div class="alert alert-info mt-2 ml-2 mr-2">
    An email has been sent with instructions to reset your account's password.
</div>

{% endblock content %}