{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/account_order.css' %}">
{% endblock %}
{% block landscape-class %}
<div class="container-fluid title d-flex align-items-center pay-landscape">
{% endblock %}
{% block box-class %}
    <div class="box wrap w-100 align-items-center pay-box">
{% endblock %}
{% block title-banner %}Personal Information{% endblock %}
{% block customizeCheckout %}
    <span class="title-banner customize-title" style="text-shadow: 2px 2px 2px black;">Password Change</span>
{% endblock %}
{% block content %}
    <div class="container mt-3" style="border: 1px solid #b9b7b7; border-radius: 10px; box-shadow: 5px 8px 5px #d8d7d7;">
        <div class="content-section">
            <form method="POST">
                <!-- Add csrf token for more security, this is supported by Django -->
                {% csrf_token %}
                <fieldset>
                    <legend class="boder-bottom mb-4"> Change password</legend>
                        {{ form.as_p }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Change</button>
                </div>
            </form>

        </div>
    </div>
{% endblock %}