{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load products_tags %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/product.css' %}">
<link rel="stylesheet" href="{% static 'css/homeproduct.css' %}">
<link rel="stylesheet" href="{% static 'css/discount.css' %}">
<link rel="stylesheet" href="{% static 'css/pagination.css' %}">
<link rel="stylesheet" href="{% static 'css/swiper-list.css' %}">

<span id="list" style="display: none"></span>
{% endblock %}
{% block landscape-class %}
<div class="container-fluid title d-flex align-items-center list-landscape">
    {% endblock %}
    {% block box-class %}
    <div class="box wrap w-100 align-items-center list-box">
        {% endblock %}
        {% block title-banner %}Our Products{% endblock %}
        {% block on-page %} Product List {% endblock %}
        {% block content %}
        <span id="filter-page-with" class="d-none">{{type}}</span>
        <span id="kwarg" class="d-none">{{kwarg}}</span>
        <article class="product-section">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 d-none d-xl-block pr-0">
                        <a href="#" class="d-block text-uppercase category-title">categories</a>
                        <ul class="list-unstyled category-list">
                            {% for cate in categories %}
                                {% if forloop.counter0 < 12 %}
                                <li><a class="text-uppercase" href="{% url 'products-category' cate.title|capitalize %}">{{cate.title}}</a></li>
                                {% endif %}
                            {% endfor %}
                            
                        </ul>
                    </div>
                    <div class="col-xl-9 pl-0">
                        <div class="container p-0 border border-0 mb-2 rounded d-flex justify-content-end mr-0 " style="cursor: default; background-color: white;">
                            <div class="swiper-container topics-container float-left rounded">
                                <!-- Additional required wrapper -->
                                <div class="swiper-wrapper">
                                    <!-- Slides -->
                                    {% for topic in list_topic %}
                                    <a class="swiper-slide p-2 slide-topics" href="{% url 'products-topic' topic.title %}" style="color: black;text-decoration: none;">
                                        <div class="title-topic">
                                           {{ topic.title }}
                                        </div>
                                    </a>
                                    {% endfor %}
                                </div>
                            </div>
                            <form class="pb-2 ml-2 align-item" style="margin-top: auto; margin-bottom: auto;" action=""> {% csrf_token %}
                                <select class="browser-default custom-select " name="order_by" id="item">
                                    <option disabled selected value="">Choose your option</option>
                                    <option value="asc-price">Ascending Price</option>
                                    <option value="desc-price">Descending Price</option>
                                    <option value="by-name">By Name</option>
                                    <option value="best-seller">Best seller</option>
                                </select>
                            </form>
                        </div>
                        <div class="row append-result" style="margin-left: 0px;">
                            {% for item in items %}
                            <div class="col-md-4 col-6 result p-1 ">
                                <div class="card product-wrapper border-0">
                                    <span class="number-item-left d-none">{{item.number_item_left}}</span>
                                    <a href="{% url 'item-detail' item.pk %}"><img class="img-item img-fluid rounded" src="{{ item.image.first.image.url }}"
                                        alt="Preview item"></a>
                                    {% if item.discount_percent > 0 %}
                                        <label class="discount"> <strong>{{ item.discount_percent|display_percent }} %</strong> </label>
                                    {% endif %}
                                    <div class="card-body p-1">
                                        <a href="{% url 'item-detail' item.pk %}">
                                            <h5 class="card-title text-center">{{ item.title }}</h5>
                                        </a>
                                        <div onmousedown="return false" onselectstart="return false">
                                        {% if item.discount_percent > 0 %}
                                            <p class="card-tex text-center mb-1">
                                                <span
                                                class="font-weight-bold price-hide" >{{ item.get_final_price|add_point }} ₫</span>
                                            <del class="font-italic price-hide" >{{ item.price|add_point }} ₫</del></p>
                                        {% else %}
                                            <p class="card-tex text-center mb-1"> <span
                                                class="font-weight-bold price-hide" >{{ item.price|add_point }} ₫</span></p>
                                        {% endif %}
                                        </div>
                                        <div class="add-btn-wrapper col text-center">
                                            <a style="visibility: hidden; opacity: 0; transition: visibility 0s, opacity 0.5s linear;" type="button"
                                                class="btn btn-outline-dark" title="Select this item"><i
                                                    class="fa fa-cart-plus mr-2 p-1"></i><span
                                                    class="p-1 font-weight-bold" style="font-size: large;">Add to
                                                    cart</span><span id="id-item" style="display: none;">{{ item.pk }}</span>
                                                    <span class="number-item-left d-none">{{item.number_item_left}}</span>
                                                </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            
                        </div>
                        <div class="pagination float-right">
                            {% if is_paginated %}
                            {% if page_obj.has_previous %}
                                <a class="btn btn-outline-info mb-4 border-0" href="?page=1">First</a>
                                <a class="btn btn-outline-info mb-4 border-0" href="?page={{ page_obj.previous_page_number}}"> <i class="fa fa-angle-double-left"></i> </a>
                            {% endif %}
                
                            {% for num in page_obj.paginator.page_range %}
                                {% if page_obj.number == num %}
                                <a class="btn btn-info mb-4 border-0" href="?page={{ num}}">{{ num }}</a>
                                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                <a class="btn btn-outline-info mb-4 border-0" href="?page={{ num}}">{{ num }}</a>
                                {% endif %}
                            {% endfor%}
                
                            {% if page_obj.has_next %}
                                <a class="btn btn-outline-info mb-4 border-0" href="?page={{ page_obj.next_page_number}}"><i class="fa fa-angle-double-right"></i></a>
                                <a class="btn btn-outline-info mb-4 border-0" href="?page={{ page_obj.paginator.num_pages}}">Last</a>
                            {% endif %}  
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </article>
       
        {% endblock %}
        {% block JavaScript %}
        <script src="{% static 'js/list.js' %}"></script>
        {% endblock %}