{% extends 'base.html' %}
{% load static %}
{% load products_tags %}
{% block css %}
<link rel="stylesheet" href="{% static 'library/wenumberic/wenumberic.css' %}">
<link rel="stylesheet" href="{% static 'css/product-detail.css' %}">
<link rel="stylesheet" href="{% static 'css/homeproduct.css' %}">
<span id="detail" style="display: none"></span>
{% endblock %}
{% block landscape-class %}
    <div class="container-fluid title d-flex align-items-center detail-landscape">
{% endblock %}
{% block box-class %}
    <div class="box wrap w-100 align-items-center detail-box">
{% endblock %}
{% block title-banner %}Schefflera aptent taciti sociosqu{% endblock %}
{% block on-page %} {{ object.title }} {% endblock %}
{% block content %}

    <article class="product-detail-section">
        <div class="container mb-5">
            <div class="row">
                <div class="col-md-2 d-none d-lg-block">
                    <div>
                        <div class="swiper-container gallery-thumbs">
                            <div class="swiper-wrapper">
                                {% for image in object.image.all %}
                                <div class="swiper-slide">
                                    <img width="140" height="auto" src="{{ image.image.url }}" alt="preview-img">
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-8 col-lg-5 mx-auto">
                    <div class="swiper-container gallery-top">
                        <div class="swiper-wrapper">
                            {% for image in object.image.all %}
                            <div class="swiper-slide">
                                <img width="100%" height="auto" src="{{ image.image.url }}" alt="">
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-5">
                    <div class="detail-information">
                        <h2 class="detail-title">{{ object.title }}</h2>
                        <p class="detail-price"><span>{{ object.price }} VNĐ</span><span class="root-price">156K VNĐ</span></p>
                        <p class="detail-description">{{ object.description }}</p>
                        <div class="add-to-cart-wrapper">
                            <div class="quantity-wrapper d-inline-block">
                                <span class="d-inline-block quantity-label">Quantity</span>
                                <div class="wenumberic-product-detail enumber-control">
                                    <input id="quantity" value="0" name="quantity" class="qty" type="text" readonly>
                                </div>
                            </div>
                            <a class="text-uppercase d-inline-block btn-add-to-cart" href="javascript:void(0)">add to cart</a>
                        </div>
                        <div class="more-information">
                            <p><span class="font-weight-bold">SKU :</span>&nbsp;N/B</p>
                            <p><span class="font-weight-bold">CATEGORIES :</span>&nbsp;
                                {% with object.category|split_to_link:"," as categories %}
                                    {% for cate in categories %}
                                        <a href="{% url 'products-category' cate %}">{{ cate }}</a> 
                                    {% endfor %}
                                {% endwith %} 
                            </p>
                            <!-- NOT HANDLE SEARCH BY TAG YET -->
                            <p><span class="font-weight-bold">TAGS :</span>&nbsp
                                {% with object.tag|split_to_link:"," as tags %}
                                    {% for tag in tags %}
                                        <a href="{% url 'products-category' tag %}">{{ tag }}</a> 
                                    {% endfor %}
                                {% endwith %} 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--TAB DESKTOP/ MOBILE-->
        <div class="tab-desktop">
            <div class="tab-header-section">
                <div class="container">
                    <a id="btn-tab-description" class="text-uppercase detail-tab-style active" href="javascript:void(0)">description</a>
                    <a id="btn-tab-addinfo" class="text-uppercase detail-tab-style" href="javascript:void(0)">additional information</a>
                    <a id="btn-tab-review" class="text-uppercase detail-tab-style" href="javascript:void(0)">reviews</a>
                </div>
            </div>
            <div class="tab-content">
                <div class="container">
                    <div class="tab-description">
                        <h3 class="mb-4">The power of flowers</h3>
                        <p>{{ object.description }}</p>
                    </div>
                    <div class="tab-addinfo" style="display: none;">
                        <div class="row">
                            <div class="col-md-2">
                                <p class="font-weight-bold">Weight:</p>
                                <p class="font-weight-bold">Demensions:</p>
                            </div>
                            <div class="col-md-10">
                                <p>{{ object.weight }} kg</p>
                                <p>{{ object.dimension }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-review" style="display: none;">
                        <p>Thông tin đang được cập nhật...</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-mobile mb-5" style="display: none;">
            <button type="button" class="collapsible">description</button>
            <div class="content">
                <div class="tab-description">
                    <h3 class="mb-4">The power of flowers</h3>
                    <p>{{ object.description }}</p>
                </div>
            </div>
            <button type="button" class="collapsible">additional information</button>
            <div class="content">
                <div class="tab-addinfo">
                    <div class="row">
                        <div class="col-md-2">
                            <p class="font-weight-bold">Weight:</p>
                            <p class="font-weight-bold">Demensions:</p>
                        </div>
                        <div class="col-md-10">
                            <p>{{ object.weight }} kg</p>
                            <p>{{ object.dimension }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="collapsible">reviews</button>
            <div class="content">
                <div class="tab-review">
                    <p>Thông tin đang được cập nhật...</p>
                </div>
            </div>
        </div>

        <div class="container">
            <h2 class="related-products-title text-center">Related Products</h2>
            <div class="swiper-container related-products-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="product-wrapper text-center product-saleoff">
                            <a href="#"><img width="300" height="365" src="{% static 'images/home/product-1.png' %}" alt=""></a>
                            <a href="#"><h3>Majesty Palm</h3></a>
                            <span>194.000 VNĐ</span><br class="d-block d-lg-none"><span class="price-root">216.000 VNĐ</span>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-wrapper text-center">
                            <a href="#"><img width="300" height="365" src="{% static 'images/home/product-2.png' %}" alt=""></a>
                            <a href="#"><h3>Majesty Palm</h3></a>
                            <span>216.000 VNĐ</span>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-wrapper text-center">
                            <a href="#"><img width="300" height="365" src="{% static 'images/home/product-3.png' %}" alt=""></a>
                            <a href="#"><h3>Majesty Palm</h3></a>
                            <span>216.000 VNĐ</span>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-wrapper text-center product-saleoff">
                            <a href="#"><img width="300" height="365" src="{% static 'images/home/product-4.png' %}" alt=""></a>
                            <a href="#"><h3>Majesty Palm</h3></a>
                            <span>194.000 VNĐ</span><br class="d-block d-lg-none"><span class="price-root">216.000 VNĐ</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
{% endblock %}
{% block JavaScript %}
    <script src="{% static 'library/swiper/swiper.min.js' %}"></script>
    <script src="{% static 'library/wenumberic/wenumberic.js' %}"></script>
    <script src="{% static 'js/product-detail.js' %}"></script>
{% endblock %}