
@media only screen and (max-width: 767px) {
    table {
        border-collapse: collapse;
        width: 100%;
    }
    table thead {
        display: none;
    }
    table tr td {
        display: inline-block;
        width: 100% !important;
        padding: 5px;
        text-align: right;
    }
    table tr th {
        display: inline-block;
        width: 100% !important;
        padding: 5px;
        text-align: right;
    }
    .img-product-cell {
        text-align: center !important;
    }
    .img-product-cell:before {
        content: "";
    }
    table tr th:first-child::before,table tr th:last-child::before {
        content: "";
    }
    table tr td:before {
        content: attr(data-title) ": ";
        font-weight: 700;
        float: left
    }
    table tr th:before {
        content: attr(data-title) ": ";
        font-weight: 700;
        float: left
    }

    #table div table tr {
        border-bottom: 1px solid;
        border-bottom-color: gray;
        width: 100%;
        max-width: 100%;
    }
  }