header {
    background-color: #F7F7F7;
}

.btn-shopping-cart {
    position: relative;
}

.quantity-product {
    position: absolute;
    color: #ffffff;
    background-color: #EF2727;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    padding: 0 6px;
    font-size: 0.875rem;
    border-radius: 50%;
    top: -8px;
    right: -11px;
}