{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'library/wenumberic/wenumberic.css' %}">
<link rel="stylesheet" href="{% static 'css/product-detail.css' %}">
<!-- <link rel="stylesheet" href="{% static 'css/homeproduct.css' %}"> -->
<span id="detail" style="display: none"></span>
{% endblock %}
{% block landscape-class %}
    <div class="container-fluid title d-flex align-items-center detail-landscape">
{% endblock %}
{% block box-class %}
    <div class="box wrap w-100 align-items-center detail-box">
{% endblock %}
{% block title-banner %}Schefflera aptent taciti sociosqu{% endblock %}
{% block on-page %} {{ object.title }} {% endblock %}
{% block content %}
<h1>{{object.title}}</h1>
<p>{{ object.content|safe }}</p>
{% endblock %}