@media screen and (max-width: 1480px)
{
    .container {
        grid-gap: 5rem;
    }
    .decor {
        left: -90px;
    }
}
@media screen and (max-width: 1260px)
{
    .container {
        grid-gap: 5rem;
    }
    .decor {
        left: -30px;
        width: 400px;
    }
}
@media screen and (max-width: 1080px)
{
    .container {
        grid-gap: 5rem;
    }
    .decor {
        left: 0px;
        width: 400px;
    }
}
@media screen and (max-width: 1000px)
{
    form {
        width: 290px;
    }
    form h2 {
        font-size:2.4rem;
        margin: 8px 0;
    }
    .img img {
        width: 400px;
    }
    .decor {
        left: 10px;
        width: 400px;
    }
}
@media screen and (max-width: 900px)
{
    .img{
        display: none;
    }
    .container {
        grid-template-columns: 1fr;
    }
    .wave {
        display: none;
    }
    .login-container {
       justify-content: center;
    }
    .notice.show span {
        left: -90px;
        top:10px;
        padding: 5px 0 5px 10px;
    }
    .textbox div h5{
        left: 150px;
    }
    .textbox.focus div h5{
        left: 140px;
    }
}