.account-container {
    padding: 50px 0;
}

.account-title {
    font-size: 1.25rem;
    margin-bottom: 30px;
    font-weight: 500;
}

.account-left-sidebar {
    list-style-type: none;
}

.account-left-sidebar a {
    display: block;
    padding: 10px 5px;
    color: #222;
}

.account-left-sidebar a.active {
    background-color: #f7f7f7;
}

.account-left-sidebar a:hover {
    text-decoration: none;
}

.border-right {
    border-right: 1px solid #e8e8e8;
}

.account-header {
    background-color: #f8f9fa !important;
}

.tool-menu {
    flex-direction: row;
}

.order-item {
    padding: 5px;
    border: 1px solid #e0dbdb;
    border-radius: 10px;
    margin-bottom: 30px;
}
.card {
    left: 30%;
}
.cancel-request i {
    transition: 0.3s linear;
}
.cancel-request:hover i {
    color: #D02B3C;
}
.detail-request {
    transition: 0.3s linear;
}
.detail-request:hover {
    font-weight: bold;
    font-size: 17px;
}
/*POPUP DETAIL ORDER*/
.popup-detail-order {
    top: 0;
    left: 0;
    z-index: 1100;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
}

.order-detail-content {
    height: 300px;
    width: 300px;
    top: 0;
    left: 0;
}

.product-item-title {
    font-size: 1.125rem;
}

.product-topic {
    font-size: 0.875rem;
    font-style: italic;
}

.scrollbar-rare-wind::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-rare-wind::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-rare-wind::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#a8edea), to(#fed6e3));
    background-image: -webkit-linear-gradient(bottom, #a8edea 0%, #fed6e3 100%);
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.scrollbar-rare-wind {
    scrollbar-color: #a8edea #F5F5F5;
}

.detail-order-title {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.detail-order {
    background-color: #fafafa;
}

.detail-order p {
    margin-bottom: 12px;
}

.total-line {
    font-size: 1.125rem;
}

.btn-custom {
    width: 47%;
    display: inline-block;
    text-align: center;
    padding: 6px 0;
    border-radius: 5px;
}

.btn-custom:hover {
    text-decoration: none;
}

.total-row {
    margin-bottom: 35px;
}
.product-item img {
    width: 100%;
    height: auto;
}

.product-item-info p {
    font-size: 0.8125rem;
}

@media (min-width: 576px) {
    .order-detail-content {
        left: calc(50% - 150px);
    }
}

@media (min-width: 992px) {
    .order-detail-content {
        height: 400px;
        width: 600px;
        left: calc(50% - 300px);
        top: calc(50% - 200px);
    }
}

@media (min-width: 1200px) {
    .btn-custom {
        width: 49%;
    }

    .order-detail-content {
        height: 500px;
        width: 1000px;
        top: calc(50% - 250px);
        left: calc(50% - 500px);
    }

    .product-item-title {
        font-size: 1.5rem;
    }

    .product-item-info p {
        font-size: 1rem;
    }
}
