/* Re-custom Header */
header >.container {
    padding-left: 0px !important;
    
}
.display-block .border-bottom {
    border-bottom: 2px solid !important;
}
.bg-light {
    background-color: rgba(255, 255, 255, 0.5) !important;
}
.box-shadow {
    box-shadow: 0 6px 8px -8px gray;
}
#collapse_target{
    position: relative;
    top:0px;
}
.break {
    flex-basis: 100%;
    height: 0;
  }
.navbar-brand {
    margin-right: 0px !important;
}
nav {
    transition: ease-in-out 0.4s !important;
}
.black {
    background-color: #F7F7F7 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.black .icon-bar {
    padding-top: 5px;
}
.icon-bar {
    padding-top: 15px;
}

.icon-bar a {
    margin-left: 15px;
}
.fa-clock-o{
    font-size: 22px;
    color: #000;
}
div > i + span {
    color: #000;
    font-size: 18px;
}
 /*----- Search-modal configuration -----*/
 .modal-dialog,.modal-content{
    background-color: rgba(0, 0, 0, 0.3) !important;
}
.modal-dialog {
    width: 100% !important;
    height: 100% !important;
    margin: 0;
    padding: 0;
    max-width: none !important;
  }
  
  .modal-content {
    height: auto !important;
    min-height: 100% !important;
    border-radius: 0;
  }
  .input-group{
      position: fixed ;
      margin-left: auto;
      margin-right: auto;
      top: 50% ;
      width: 60%;
      left: 25%;
  }
#search-box{
    background-color: rgba(0, 0, 0, 0.3) !important;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
    outline: none;
}
::-webkit-input-placeholder{
    color :#fff !important;
}
.btn-default >.fa-search{
    color: #fff;
}
.btn {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 30%;
    box-shadow:  0 6px 8px -8px #00000070 !important;
    overflow: hidden;
    position: relative;
    margin-left: 10px;
    box-sizing: border-box;
    line-height: 50px;
}
.btn >i {
    font-size: 25px;
}
.cart-number {
    position: absolute;
    top: 10px;
    right: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    background: rgba(200, 20, 92, 0.76);
    color: #fff;
    
    font-weight: bold;
    font-family: sans-serif;
    font-size: 15px;
}
    /*-----End search-modal configuration -----*/

    /*---------- Hover event ----------*/

.nav-link {
    color: #000 !important;
    font-size: 18px;
}
.nav-item {
    font-weight: bold !important;
    transition: 0.1s linear;
}
    /* Change background color of list when hover */
.nav-item:hover {
    background-color: #ddd;
    border-radius: 5px;
    transform: scale(1.05);
    font-weight: bold !important;
}
    /* Show the dropdown menu on hover */
.parent:hover .dropdown-menu {display: block;}
.icon-bar > a{
    font-size: x-large;
    color: black;
    transition: 0.3s linear;
}
.icon-bar > a:hover{
    color :#60835d;
}
.change-color-span {
    background: rgba(206, 20, 51, 0.938);
}

    /*----------End hover processing ----------*/
/*End re-custom Header */