/* Re-custom Header */
header >.container {
    padding-left: 0px !important;
    
}
.display-block .border-bottom {
    border-bottom: 2px solid !important;
}
.bg-light {
    background-color: rgba(255, 255, 255, 0.5) !important;
}
.box-shadow {
    box-shadow: 0 6px 8px -8px gray;
}
#collapse_target{
    position: relative;
    top:0px;
}
.break {
    flex-basis: 100%;
    height: 0;
  }
.navbar-brand {
    margin-right: 0px !important;
}
nav {
    transition: ease-in-out 0.2s !important;
}
.black {
    background-color: #F7F7F7 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.black .icon-bar {
    padding-top: 5px;
}
.icon-bar {
    padding-top: 0px;
}

.icon-bar a {
    margin-left: 15px;
}
.fa-clock-o{
    font-size: 22px;
    color: #000;
}
div > i + span {
    color: #000;
    font-size: 18px;
    cursor: pointer;
}
 /*----- Search-modal configuration -----*/
 .transparent{
    background-color: rgba(0, 0, 0, 0.3) !important;
}
.width-100 {
    width: 100% !important;
    height: 100% !important;
    margin: 0;
    padding: 0;
    max-width: none !important;
  }
  
  .modal-content-custom {
    height: auto !important;
    min-height: 100% !important;
    border-radius: 0;
  }
  .input-group{
      position: fixed ;
      margin-left: auto;
      margin-right: auto;
      top: 50% ;
      width: 60%;
      left: 25%;
  }
#search-box{
    background-color: rgba(0, 0, 0, 0.3) !important;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
    outline: none;
}
::-webkit-input-placeholder{
    color :#fff !important;
}
.btn-default >.fa-search{
    color: #fff;
}
    /*-----End search-modal configuration -----*/
.btn-customize {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 30%;
    box-shadow:  0 6px 8px -8px #00000070 !important;
    overflow: hidden;
    position: relative;
    margin-left: 10px;
    box-sizing: border-box;
    line-height: 50px;
}
.btn >i {
    font-size: 25px;
}
.cart-number {
    position: absolute;
    top: 4px;
    right: 0;
    width: 22px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 45%;
    background: rgba(200, 20, 92, 0.86);
    color: #fff;
    
    font-weight: normal;
    font-family: sans-serif;
    font-size: 12px;
}
.icon-bar-hover a i {
    transition: .2s ease;
}
.dropdown-item-custom{
    display: block;
    width: 90%;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.dropdown-item-custom p{
    transition: .2s ease;
    
}
.dropdown-item-custom p span{
    text-decoration: underline;
}
.nav-link {
    color: #000 !important;
    font-size: 18px;
}
.nav-item {
    transition: 0.2s linear;
}
.neumorphism {
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5)  ,-3px -3px 5px #9be1e700;
    border-radius: 5px;
    padding: 20px;
    border-collapse: collapse;
}
#user {
    
}
#user a {
    color: #000;
    font-size: 18px !important;
    font-weight: 500 !important;
    padding-bottom: 10px !important;
}
    /*---------- Hover event ----------*/


    /* Change background color of list when hover */
.nav-item:hover {
    background-color: rgba(221, 221, 221, 0.753);
    border-radius: 5px;
    transform: scale(1.05);
    font-weight: bold !important;
}
#user a:hover {
    background-color: #f8f9fa;
}
.icon-bar-hover:hover a i{
    color :#60835d;
    padding: 0px !important;
    margin-left: 0px !important;
}
    /* Show the dropdown menu on hover */
.parent-home:hover > .home {display: block;}
.parent-shop:hover > .shop {display: block;}
.parent-page:hover > .page {display: block;}
.parent-user:hover > .visitor-user{display: block;}
.icon-bar > a{
    font-size: x-large;
    color: black;
    transition: 0.2s linear;
}
.dropdown-item-custom:hover {
    color: #16181b !important;
}.dropdown-item-custom:hover p{
    color: #60835d !important;
    font-weight: bold !important;
}

.change-color-span {
    background: rgba(206, 20, 51, 0.938);
}

    /*----------End hover processing ----------*/
/*End re-custom Header */
.sold-out {
    position: relative;
}
.sold-out:after {
    position: absolute;
    content: "SOLD";
    color: #fff;
    background-color: rgba(49, 44, 44, 0.64);
    top: 3px;
    left: 3px;
    padding: 5px;
}