#home-product-section {
    padding: 30px 0;
}

.product-title {
    font-family: Pristina, sans-serif;
    color: #055728;
    font-size: 2rem;
}

.new-arrival-title {
    text-transform: uppercase;
    font-family: AdobeMingStd, sans-serif;
    font-size: 1.5rem;
    margin-bottom: 12px;
    color: #363131;
}

.new-arrival-title img {
    width: 50px;
    height: auto;
}

.product-tab {
    padding: 5px 20px;
    color: #101310;
    border-right: 1px solid #707070;
}

.product-tab:last-child {
    border: none;
}

.product-tab.active {
    color: #EF083F;
}

.product-wrapper img {
    float: left;
    width:100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
    transition: 0.4s;
}
.product-tab-wrapper {
    /* overflow: hidden; */
}
.product-wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: -750px;
    width:180%;
    height: 325px;
    background: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
    transition: 0.6s;
    transform: skewX(-35deg);
    z-index: 10000;
}


.product-wrapper {
    font-family: Montserrat-light, sans-serif;
    margin-bottom: 20px;
    font-size: 0.8rem;
    transition: 0.3s ;
    overflow: hidden;
}

.product-wrapper h5 {
    color: #000000;
    font-size: 1rem;
    font-family: Montserrat-light, sans-serif;
}

.card-body >a {
    text-decoration: none;
}
.card-body{
    padding-top: 0px !important;
    padding-bottom: 0.5rem !important;
}
.product-saleoff {
    position: relative;
}

.price-root {
    margin-left: 10px;
    text-decoration: line-through;
}
/* Hover state */
.product-wrapper:hover {
    box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
}
/* shining effect */
.product-wrapper:hover::before {
    left: 550px;
}
.product-wrapper:hover img{
    transform: scale(1.04);
    opacity: 0.7 !important;
}
.add-btn-wrapper {
    position: relative;
    top:80px;
    transition: 0.3s;
}
.product-wrapper:hover .price-hide{
    opacity: 0 !important;
}
/* btn add to cart move top */
.product-wrapper:hover .add-btn-wrapper{
    top: -30px;
}
.product-wrapper:hover .btn-outline-dark{
    visibility: visible !important;
    opacity: 1 !important;
}
.btn-outline-dark i {
    opacity: 0 !important;
    transition: 0.5s ease-in-out;
}
.btn-outline-dark span{
    position: relative;
    left: -20px !important;
    transition: 0.3s linear;
}
.btn-outline-dark:hover span{
    left: 0px !important;
    color: wheat;
}
.btn-outline-dark:hover i{
    opacity: 1 !important;
    color: wheat;
}
.ui-autocomplete li.ui-menu-item 
{
    padding: 3px;  
}
.ui-menu-item a{
    margin: 0;
    padding: 0px  !important;
    float: left;
    clear: left;
    width: 100%;
}
.ui-menu-item a:hover{
    color: aliceblue;
}
/*  */
@media (min-width: 1200px) {
    .product-title {
        font-size: 2.5rem;
    }

    .new-arrival-title {
        font-size: 2.5rem;
    }

    .new-arrival-title img {
        width: 65px;
    }

    .product-tab {
        font-size: 1.25rem;
    }

    .product-wrapper {
        font-size: 1rem;
    }

    .product-wrapper h3 {
        font-size: 1.3rem;
    }

    #home-product-section .row {
        margin-bottom: 20px;
    }

    .product-saleoff:after {
        width: 140px;
        height: 140px;
        top: 0px;
        right: -2px;
        border-radius: .25rem!important;
    }
    
.product-wrapper img {
    float: left;
    width: 100%;
    height: 320px;
    object-fit: cover;
    margin-bottom: 20px;
}
}
@media (max-width: 992px) {
    .product-wrapper img {
        float: left;
        width: 100%;
        height: 210px;
        object-fit: cover;
    }
    .btn-outline-dark{
        display: none;
    }
}